@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  /* border: 2px solid red; */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
}

section[id] {
  scroll-margin-top: 100px;
}

div[id] {
  scroll-margin-top: 100px;
}

/* Loader */
.hidden {
  overflow: hidden;
}

.centered {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #000;
  z-index: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Main section */
main {
  min-height: 450px;
  width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)),
    url(../assets/shop_g.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  scroll-margin-top: 70px;
}

.initial_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.initial_text .initial_title {
  text-align: center;
  color: #fff;
  max-width: 80%;
  letter-spacing: 0.2rem;
  margin: 20px 0;
  font-size: 5rem;
  font-weight: 600;
  width: inherit;
}

.initial_text #initial_span_typeit {
  color: #fff;
  font-size: 1.2rem;
  text-transform: uppercase;
  width: inherit;
  text-align: center;
}

/* Nav bar */
.nav_bar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 0 auto;
  background-color: transparent;
  left: 0;
  top: 0;
  position: fixed;
  height: 80px;
  width: 100%;
  z-index: 100;
  transition: 0.5s;
}

.nav_mod {
  height: 100px;
  box-shadow: 1px 1px 10px 0px #00000010;
  color: #000;
  background: white;
}

.nav_mod .menu a {
  color: #000;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  color: #000;
}

/* Menu */
.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0 10px;
  align-items: center;
}

.menu li {
  padding: 0 15px;
}

.menu a {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  line-height: 40px;
  text-transform: uppercase;
  position: relative;
}

.menu a::after {
  content: "";
  background-color: cadetblue;
  position: absolute;
  left: 0;
  top: calc(100% + 4px);
  width: 100%;
  height: 4px;
  opacity: 0;
  transition: opacity 0.2s;
}

.menu a.selected::after,
.menu a:hover::after {
  opacity: 0.8;
}

.menu a:hover {
  color: rgb(29, 112, 108);
}

.open_menu,
.close_menu {
  display: none;
}

/* Products section */

.products_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.guitars {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
  height: 100%;
  margin: 100px 0;
  /* border: 3px solid red; */
}

.guitars .products__title__guitars {
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-weight: 600;
}

.guitars .products__title__guitars::after {
  content: "";
  background-color: cadetblue;
  position: absolute;
  left: 0;
  top: calc(100% + 4px);
  width: 100%;
  height: 4px;
  opacity: 0;
  transition: opacity 0.2s;
}

.carousel__elemento {
  margin: 0 20px;
}

.carousel__elemento p {
  font-size: 1.2rem;
  margin: 10px 0;
  text-align: center;
}

/* --- --- CAROUSEL --- --- */
.carousel__contenedor {
  /* border: 3px solid green; */
  position: relative;
  height: 100%;
}

.carousel__anterior,
.carousel__siguiente {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border: none;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  line-height: 30px;
  border: 2px solid pink;
  text-align: center;
  background: none;
  color: #fff;
  opacity: 0.2;
}

.carousel__anterior:hover,
.carousel__siguiente:hover {
  opacity: 1;
  transition: all 0.4s;
}

.carousel__anterior {
  left: -30px;
  border-radius: 50%;
  background: #000;
  transition: all 0.4s;
  align-self: center;
}

.carousel__siguiente {
  right: -30px;
  background: #000;
  align-self: center;
  transition: all 0.4s;
  border-radius: 50%;
}

.carousel__list {
  overflow: hidden;
}

.carousel__elemento {
  text-align: center;
}

.carousel__elemento:hover {
  cursor: pointer;
}

.carousel__indicadores .glider-dot {
  display: block;
  width: 30px;
  height: 4px;
  background: #808080;
  opacity: 0.2;
  border-radius: 0;
}

.carousel__indicadores .glider-dot:hover {
  opacity: 0.5;
}

.carousel__indicadores .glider-dot.active {
  opacity: 1;
}

.guitars .carousel__elemento img {
  width: 160px;
  height: auto;
}

.bass {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
  height: 100%;
  margin: 0 0 100px 0;
  /* border: 3px solid red; */
}

.bass .products__title__bass {
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-weight: 600;
}

.bass .products__title__guitars::after {
  content: "";
  background-color: cadetblue;
  position: absolute;
  left: 0;
  top: calc(100% + 4px);
  width: 100%;
  height: 4px;
  opacity: 0;
  transition: opacity 0.2s;
}

.bass .carousel__elemento {
  margin: 0 20px;
}

.bass .carousel__elemento p {
  font-size: 1.2rem;
  margin: 10px 0;
  text-align: center;
}

/* --- --- CAROUSEL --- --- */
.bass .carousel__contenedor {
  /* border: 3px solid green; */
  position: relative;
  height: 100%;
}

.bass .carousel__anterior__bass,
.bass .carousel__siguiente__bass {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border: none;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  line-height: 30px;
  border: 2px solid pink;
  text-align: center;
  background: none;
  color: #fff;
  opacity: 0.2;
}

.bass .carousel__anterior__bass:hover,
.bass .carousel__siguiente__bass:hover {
  opacity: 1;
  transition: all 0.4s;
}

.bass .carousel__anterior__bass {
  left: -30px;
  border-radius: 50%;
  background: #000;
  transition: all 0.4s;
  align-self: center;
}

.bass .carousel__siguiente__bass {
  right: -30px;
  background: #000;
  align-self: center;
  transition: all 0.4s;
  border-radius: 50%;
}

.bass .carousel__bass {
  overflow: hidden;
}

.bass .carousel__elemento {
  text-align: center;
}

.bass .carousel__elemento:hover {
  cursor: pointer;
}

.bass .carousel__indicadores__bass .glider-dot {
  display: block;
  width: 30px;
  height: 4px;
  background: #808080;
  opacity: 0.2;
  border-radius: 0;
}

.bass .carousel__indicadores__bass .glider-dot:hover {
  opacity: 0.5;
}

.bass .carousel__indicadores__bass .glider-dot.active {
  opacity: 1;
}

.bass .carousel__elemento img {
  width: 100%;
}

/* Extras section */
.extras {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
  height: auto;
  max-width: 1400px;
}

.extras .extras__title {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 30px;
}

.extras__fender {
  display: flex;
  flex-direction: row;
  margin: 5px 20px;
  gap: 1em;
}

.extra__fender__guitars,
.extra__squier__bass {
  width: 50%;
  height: 300px;
  position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 20px;
  transition: all 0.5s;
}

.extra__fender__guitars:hover,
.extra__squier__bass:hover {
  border-radius: 50px;
  transition: all 0.5s;
  cursor: pointer;
}

.extra__fender__guitars {
  width: 50%;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
    url(../assets/pexels-kyle-buss-7457325.jpg);
  background-position: center;
  background-size: cover;
}

.extra__squier__bass {
  width: 50%;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
    url(../assets/pexels-luis-antonio-rockdríguez-10326133.jpg);
  background-position: center;
  background-size: cover;
}

.extra__title__fender {
  font-size: 1.5rem;
  padding: 1.1rem;
  font-weight: 400;
  color: #fff;
  z-index: 3;
}

.extras__guitars {
  display: flex;
  flex-direction: row;
  margin: 5px 20px;
  gap: 1em;
}

.extra__2 {
  width: 100%;
  height: 300px;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)),
    url(../assets/pexels-stephen-niemeier-68710.jpg);
  position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 20px;
  transition: all 0.5s;
}

.extra__2 .extra__title__guitars {
  font-size: 1.5rem;
  padding: 1.1rem;
  font-weight: 400;
  color: #fff;
  z-index: 3;
}

.extra__2:hover {
  border-radius: 50px;
  transition: all 0.5s;
  cursor: pointer;
}

/* Sucursales section */
.sucursales {
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)),
    url(../assets/pexels-stephen-niemeier-68710.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  overflow: hidden;
}

.sucursales .sucursal_info {
  width: 350px;
  height: 300px;
  background: #fff;
  text-align: left;
  padding: 40px;
  margin: 80px 0 0 80px;
}

.sucursal_info .sucursal_title {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  line-height: 1.5;
}

.sucursal_info .sucursal_decription {
  color: #000;
  font-size: 1.2rem;
  margin-top: 20px;
  line-height: 1.5;
}

/* Footer */
footer {
  width: 100%;
  min-height: 400px;
  background: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  scroll-margin-top: 70px;
}

.footer__logo {
  max-width: 100px;
  margin: 40px 0;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  gap: 1.5rem;
}

footer span {
  font-size: 1rem;
  margin: 10px 0;
  cursor: pointer;
}

.media__icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin: 50px 0;
}

/* Media querie main */
@media (max-width: 700px) {
  .initial_text {
    width: 100%;
  }

  .initial_text .initial_title {
    line-height: 1;
    font-size: 2.5rem;
  }

  .initial_text #initial_span_typeit {
    font-size: 1rem;
  }
}

/* Media quierie navbar */
@media (max-width: 950px) {
  /* Menu */
  .menu {
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    align-items: center;
    background-color: rgb(29, 112, 100);
    height: 100%;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
  }

  .menu li {
    padding: 0;
  }

  .menu a {
    color: #fff;
    line-height: 60px;
    font-size: 25px;
  }

  .open_menu,
  .close_menu {
    display: block;
    border: none;
    background: none;
    cursor: pointer;
  }

  .open_menu {
    align-content: flex-end;
  }

  .close_menu {
    align-self: flex-end;
    padding: 20px 15px;
  }

  .menu_opened {
    opacity: 1;
    pointer-events: all;
  }

  .open_menu:focus:not(:focus-visible),
  .close_menu:focus:not(:focus-visible) {
    outline: none;
  }

  .menu a::after {
    content: none;
  }

  .menu a:hover,
  .menu a.selected {
    color: rgb(120, 235, 250);
  }
}

/* Media querie products section */
@media only screen and (max-width: 700px) {
  .guitars,
  .bass {
    width: 80%;
  }

  .guitars .products__title__guitars,
  .bass .products__title__bass {
    font-size: 1.5rem;
  }

  .guitars .carousel__elemento img,
  .bass .carousel__elemento img {
    width: 120px;
  }

  .carousel__elemento p {
    font-size: 1rem;
  }
}

/* Media querie sucursales section */
@media only screen and (max-width: 700px) {
  .sucursales {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sucursales .sucursal_info {
    width: 300px;
    margin: 0 auto;
  }

  .sucursal_info .sucursal_title {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    line-height: 1.5;
  }

  .sucursal_info .sucursal_decription {
    color: #000;
    font-size: 1rem;
    margin-top: 20px;
    line-height: 1.5;
  }
}

@media only screen and (max-width: 300px) {
  .sucursales {
    flex-wrap: wrap;
  }
  .sucursales .sucursal_info {
    width: 80%;
    margin: 0 auto;
  }

  .sucursal_info .sucursal_title {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    line-height: 1.5;
  }

  .sucursal_info .sucursal_decription {
    color: #000;
    font-size: 1rem;
    margin-top: 20px;
    line-height: 1.5;
  }
}

/* Media querie Footer */
@media only screen and (max-width: 700px) {
  footer {
    flex-direction: column;
  }

  footer span {
    font-size: 0.8rem;
    margin: 5px 0;
  }

  .info,
  .media__icons {
    flex-direction: column;
  }
}

/* Media querie Destacados */
@media only screen and (max-width: 700px) {
  .extras__fender,
  .extras__guitars {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .extra__fender__guitars,
  .extra__squier__bass {
    width: 100%;
  }
}